 @import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
 #container {
     display: flex;
     justify-content: space-between;
     height: 100vh;
     width: 100vw;
     margin: 0;
     box-sizing: border-box;
 }
 
 .column1 {
     flex-basis: 10%;
     background-image: url('https://i.imgur.com/uptaNtr.jpg?1');
 }
 
 .column2 {
     background-color: white;
     flex-basis: 80%;
     text-align: center;
     font-family: 'Syncopate', sans-serif;
 }
 
 h1 {
     font-family: 'Syncopate', sans-serif;
     margin-top: 0;
 }
 
 #timer {
     color: red;
     font-size: 2em;
 }
 
 .grid {
     display: grid;
     grid-template-columns: repeat(5, auto);
     grid-gap: 10px;
     margin-top: 20px;
     justify-content: center;
 }
 
 .card {
     background: radial-gradient(navy, black);
     height: 120px;
     width: 120px;
 }
 
 .column3 {
     flex-basis: 10%;
     background-image: url('https://i.imgur.com/HTYjBLv.jpg?1');
 }